
#header-container
  nav.nav#header(class=['is-' + appconfig.theme.primary], ref='header')
    .nav-left
      block rootNavLeft
        a.nav-item(href='/')
          h1.is-hidden-mobile
            i.nc-icon-outline.ui-2_layers
            span.title= appconfig.title
          h3.only-show-for-mobile
            i.nc-icon-outline.ui-2_layers
            span.title= appconfig.title
    .nav-center.is-hidden-mobile
      block rootNavCenter
        search
    .nav-right
      block rootNavRight
        .is-hidden-mobile
          loading-spinner

        if isGuest
          .nav-item
            a.button.nav-bar(href='/login')
              i.nc-icon-outline.arrows-1_log-in
              span= t('nav.login')
        else
          .nav-item
            .current-user
              span.username #{user.name}
              br
              span.email #{user.email}
          .nav-item
            a.button.nav-bar(href='/admin')
              i.nc-icon-outline.ui-1_settings-gear-63
              span= t('nav.settings')
