
#header-container
  nav.nav#header(class=['is-' + appconfig.theme.primary], ref='header')
    .nav-left
      block rootNavLeft
        a.nav-item(href='/')
          h1.is-hidden-mobile
            i.nc-icon-outline.ui-2_layers
            span.title= appconfig.title
          h3.only-show-for-mobile
            i.nc-icon-outline.ui-2_layers
            span.title= appconfig.title
    .nav-center.is-hidden-mobile
      block rootNavCenter
        search
    .nav-right
      block rootNavRight
        .is-hidden-mobile
          loading-spinner

        if isGuest
          .nav-item
            a.button.nav-bar(href='/login')
              i.nc-icon-outline.arrows-1_log-in
              span= t('nav.login')
        else
          .nav-item
            .current-user
              span.username #{user.name}
              br
              span.email= `<${user.email}>`
          .nav-item
            .dropdown
              a.button.nav-bar
                i.nc-icon-outline.ui-1_settings-gear-63
                span= 'Setting'
              .dropdown-content
                a.button.nav-bar(href='/admin/profile')
                  i.nc-icon-outline.business_business-contact-86
                  span= 'Profile'
                a.button.nav-bar(href='/admin/stats')
                  i.nc-icon-outline.ui-3_chart-bars
                  span= t('nav.stats')
                if rights.manage
                  a.button.nav-bar(href='/admin/users')
                    i.nc-icon-outline.users_multiple-19
                    span= t('nav.users')
                  a.button.nav-bar(href='/admin/theme')
                    i.nc-icon-outline.ui-1_drop
                    span= 'Theme'
                  a.button.nav-bar(href='/admin/system')
                    i.nc-icon-outline.travel_info
                    span= 'Sys. Info'
                a.button.nav-bar(href='/logout')
                  i.nc-icon-outline.arrows-1_log-out
                  span= 'Logout'
