doctype html
html(data-logic='login')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#009688')
    meta(name='msapplication-TileColor', content='#009688')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title= appconfig.title

    // Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')

    // JS / CSS
    script(type='text/javascript', src=appconfig.host + '/js/vendor.js')
    script(type='text/javascript', src=appconfig.host + '/js/app.js')

  body
    #bg
      each bg in _.sampleSize([1, 2, 3],3)
        div(style='background-image:url(/images/bg_' + bg + '.jpg);')
    #root
      .is-hidden-mobile
        h1= appconfig.title
        br
        br
        br
      .only-show-for-mobile
        span.login-page-title= appconfig.title

      if appflash.length > 0
        h3
          i.icon-warning-outline
          = appflash[0].title
        h4= appflash[0].message
      h2= 'For HKU Students:'
      form(method='get', action='/portal-login/redirect')
        button(style={'margin-top': '0px', 'width': '150px'}, type='submit')= 'HKU Portal Login'
      h2= 'For Non-HKU Users / Admin:'
      if appconfig.auth.local.enabled
        form(method='post', action='/login')
          input#login-user(type='text', name='email', placeholder='Email')
          input#login-pass(type='password', name='password', placeholder=t('auth:fields.password'))
          .buttonGroup
            button(type='submit')= t('auth:actions.login')
            button(id='back_button')= 'Back'
    #copyright  
      span= `Copyright © ${new Date().getFullYear()} The University of Hong Kong. All Rights Reserved`
