extends ../layout.pug

block content
  content-view(inline-template)
    .container.is-fluid.has-mkcontent
      .columns.is-gapless
        .column.is-narrow.is-hidden-touch.sidebar
          aside
            .sidebar-label
              span= t('sidebar.navigation')
            ul.sidebar-menu
              li
                a(href='/')
                  i.nc-icon-outline.ui-1_home-minimal
                  span= t('nav.root')
              li
                a(href='/userguide')
                  i.nc-icon-outline.location_compass-04
                  span= t('nav.userguide')
              li
                a(href='/all')
                  i.nc-icon-outline.design_bullet-list-68
                  span= t('nav.allpages')

        .column
          loading-spinner
          .content-options
            if rights.write
              a.button(v-on:click='$store.dispatch("modalCreatePage/open")')
                i.nc-icon-outline.ui-1_simple-add
                span= t('nav.create')

          .hero
            h1.title#title= 'List of All Articles'
            h2.subtitle= 'welcome to create your own article'
            i.pageicon.nc-icon-outline.design_bullet-list-68
          .form-sections
            section
              ul
                each path in pageData
                  a(href=path) #{path}
                  hr

  modal-create-page('home')
