extends ../layout.pug

mixin tocMenu(silibingList)
  each item in silibingList
    li
      if item.lastIndexOf('/', item.lastIndexOf('/') - 1) === -1
        a(href=item, title=item)= item.substr(1, item.length + 1)
      else if item.substr(1, item.length + 1) === pageData.meta.path
        a(href=item, title=item)= item.substr(item.lastIndexOf('/') + 1, item.length + 1)
      else
        a(href=item, title=item)= item.substr(item.lastIndexOf('/', item.lastIndexOf('/') - 1) + 1, item.length + 1)

mixin tocMenuForTree(ti)
  each node in ti
    li
      a(href='#' + node.anchor, title=node.content)= node.content
      if node.nodes.length > 0
        ul
          +tocMenuForTree(node.nodes)

mixin displayParentPath(pathList)
  each item in pathList
    span= t(' / ')
    a(href=item.link, title=item.name)= item.name

block content
  content-view(inline-template)
    .container.is-fluid.has-mkcontent
      .columns.is-gapless
        .column.is-narrow.is-hidden-touch.sidebar
          aside
            .sidebar-label
              span= t('sidebar.navigation')
            ul.sidebar-menu
              li
                a(href='/')
                  i.nc-icon-outline.ui-1_home-minimal
                  span= t('nav.root')
              li
                a(href='/guide')
                  i.nc-icon-outline.location_compass-04
                  span= 'Guide'
              li
                a(href='/all')
                  i.nc-icon-outline.design_bullet-list-68
                  span= t('nav.allpages')
              if pageData.parent
                li
                  a(href='/' + pageData.parent.path)
                    i.icon-reply
                    span= pageData.parent.title
          
          aside.sidebar-relatedtopics
            .sidebar-label
              span= t('sidebar.relatedtopics')
            ul.sidebar-menu
              +tocMenu(pageSilibingList)
          
          aside.sidebar-pagecontents
            .sidebar-label
              span= 'Contents'
            ul.sidebar-menu
              li.is-hidden-until-scroll: a(href='#root', title='Top of Page')
                i.icon-arrow-up2
              +tocMenuForTree(pageData.tree)

        .column
          .current-path
            h3.subtitle
              i.nc-icon-outline.location_position-pin
              +displayParentPath(parentList)
          
          .content-bar
            .last-edit.is-hidden-mobile
              .date
                span= 'Last edited '
                span= pageData.lastEdit.dateFull
              .author
                span= 'By '
                if rights.manage
                  span= `${pageData.lastEdit.authorName} <${pageData.lastEdit.authorEmail}>`
                else
                  span= `${pageData.lastEdit.authorName}`

            .content-options.is-hidden-mobile
              if rights.manage && !(['home', 'guide'].includes(pageData.meta.path))
                a.button.is-outlined.is-icon-only(@click='$store.dispatch("modalDeletePage/open")')
                  i.nc-icon-outline.ui-1_trash
              if appconfig.theme.viewSource === 'all' || (rights.write && appconfig.theme.viewSource === 'write')
                a.button.is-outlined(href='/hist/' + pageData.meta.path)
                  i.nc-icon-outline.ui-2_time
                  span= t('nav.history')
                a.button.is-outlined(href='/source/' + pageData.meta.path)
                  i.nc-icon-outline.education_paper
                  span= t('nav.source')
              if rights.manage || !(['home', 'guide'].includes(pageData.meta.path))
                a.button.is-outlined(href='/edit/' + pageData.meta.path)
                  i.nc-icon-outline.ui-1_edit-76
                  span= t('nav.edit')
              a.button.is-outlined(v-on:click='$store.dispatch("modalCreatePage/open")')
                i.nc-icon-outline.ui-1_simple-add
                span= t('nav.create')

            .content-options.only-show-for-mobile
              a.button.is-outlined(href='/source/' + pageData.meta.path)
                i.nc-icon-outline.education_paper
                span= t('nav.source')
              a.button.is-outlined(href='/all')
                i.nc-icon-outline.design_bullet-list-68
                span= 'All Articles'

          .hints.only-show-for-mobile
            span= 'Use desktop version to create/edit articles'

          .hero
            h1.title#title= pageData.meta.title
            if pageData.meta.subtitle
              h2.subtitle= pageData.meta.subtitle

          .content.mkcontent(v-pre, class=[appconfig.theme.code.dark ? 'is-code-dark' : 'is-code-light'])
            != pageData.html
          
          
          .related-topic-for-mobile.only-show-for-mobile
            .sidebar-label-for-mobile
              h2= 'Related Topics'
            ul.sidebar-menu-for-mobile
              +tocMenu(pageSilibingList)

  modal-create-page(basepath=pageData.meta.path)
  modal-move-page(current-path=pageData.meta.path)
  modal-delete-page(current-path=pageData.meta.path)
  anchor
